body {
    background-color: rgb(80, 0, 0);
    color: white;
    text-rendering: geometricPrecision;

    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-deluxe-light {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-deluxe-regular {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-deluxe-bold {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-deluxe-extrabold {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.font-deluxe-heavy {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 900;
    font-style: normal;
}

@media (min-width:750px) {
    .middle {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.center {
    align-self: center;
    align-items: center;
    text-align: center;
}

.left {
    align-items: flex-start;
    align-self: flex-start;
    text-align: left;
}

.hide-link-styles {
    text-decoration: none;
}

h1 {
    font-size: 8vw;
    white-space: nowrap;
    padding-top: 25vh;
}

.highlight {
    border: .5rem red dashed;
}

p {
    font-size: 1rem;
}

@media (min-width:750px) {
    p {
        font-size: 3rem;
    }
}