body {
    background-color: rgb(80, 0, 0);
    color: white;
    text-rendering: geometricPrecision;

    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 300;
    font-style: normal;
    overflow-x: hidden;
}

.font-deluxe-light {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-deluxe-regular {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-deluxe-bold {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-deluxe-extrabold {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.font-deluxe-heavy {
    font-family: refrigerator-deluxe, sans-serif;
    font-weight: 900;
    font-style: normal;
}

@media (min-width:750px) {
    .middle {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.center {
    align-self: center;
    align-items: center;
    text-align: center;
}

.left {
    align-items: flex-start;
    align-self: flex-start;
    text-align: left;
}

.hide-link-styles {
    text-decoration: none;
}

h1 {
    font-size: 8vw;
    white-space: nowrap;
    margin: 0px;
    margin-bottom: 5%;
}

h2 {
    font-size: 5vw;
    white-space: nowrap;
    margin: 0px;
    margin-bottom: 5%;
}

@media (min-width:750px) {
    h2 {
        font-size: 3vw;
        white-space: nowrap;
        margin: 0px;
        margin-bottom: 5%;
    }
}

.highlight {
    border: .5rem red dashed;
}

p {
    font-size: 1rem;
}

li {
    font-size: 1rem;
}

@media (min-width:750px) {
    p {
        font-size: 3rem;
    }

    li {
        font-size: 2.5rem;
    }
}

.linkbuttonlarge {
    background-color: black;
    color: white;
    font-size: 8vw;
    padding: 2vw;
    border-radius: 1rem;
    border: white .25rem solid;
    text-align: center;
    display: block;
    cursor: pointer;
    text-decoration: none;

    margin-top: 20%;
}

@media (min-width:750px) {
    .linkbuttonlarge {
        background-color: black;
        color: white;
        font-size: 8vw;
        padding: 2vw;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 2rem;
        border: white .25rem solid;
        text-align: center;
        display: block;
        cursor: pointer;
        text-decoration: none;

        margin-top: 20%;
    }
}

header {
    width: 100%;
    padding-top: 25vh;
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding-bottom: 5vh;
}

header > a {
    background-color: black;
    color: white;
    border: white .15rem solid;
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 3vw;
    width: 30%;
    white-space: nowrap;
}